<mat-card class="mat-elevation-z5" [@changeDivSize]=currentState>
  <br>
  <mat-radio-group placeholder="Trip" style="width: 45%; margin-right:15px" [(ngModel)]="trip_input">
    <mat-radio-button value="One Way" (click)="onChangeTrip()" style="margin-right:15px">One Way</mat-radio-button>
    <mat-radio-button value="Round Trip" (click)="onChangeTrip()">Round Trip</mat-radio-button>
  </mat-radio-group>
  <br><br><mat-divider></mat-divider><br>
  <mat-form-field class="example-full-width" style="width: 49%; margin-right:2%">
    <input matInput type="text" placeholder="Flying From:" aria-label="Number" [formControl]="myControl"
      [matAutocomplete]="auto" [(ngModel)]="departure_input" required>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="!departure_input">Please enter a valid airport.</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" style="width: 49%">
    <input matInput type="text" placeholder="Flying To:" aria-label="Number" [formControl]="myControl"
      [matAutocomplete]="auto" [(ngModel)]="arrival_input" required>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="!arrival_input">Please enter a valid airport.</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" style="width: 38%; margin-right:2%" *ngIf="trip_input === 'Round Trip'">
      <input matInput [matDatepicker]="dep" placeholder="Date of departure:" [min]="minDate" [(ngModel)]="departure_date_input" required>
      <mat-datepicker-toggle matSuffix [for]="dep"></mat-datepicker-toggle>
      <mat-datepicker #dep></mat-datepicker>
      <mat-error *ngIf="!departure_date_input">Please enter a valid date.</mat-error>
    </mat-form-field>
  <mat-form-field class="example-full-width" style="width: 78%; margin-right:2%" *ngIf="trip_input === 'One Way'">
    <input matInput [matDatepicker]="dep" placeholder="Date of departure:" [min]="minDate" [(ngModel)]="departure_date_input" required>
    <mat-datepicker-toggle matSuffix [for]="dep"></mat-datepicker-toggle>
    <mat-datepicker #dep></mat-datepicker>
    <mat-error *ngIf="!departure_date_input">Please enter a valid date.</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" style="width: 38%; margin-right:2%" *ngIf="trip_input === 'Round Trip'">
    <input matInput [matDatepicker]="arr" placeholder="Date of arrival:" [min]="departure_date_input" [(ngModel)]="arrival_date_input" required>
    <mat-datepicker-toggle matSuffix [for]="arr"></mat-datepicker-toggle>
    <mat-datepicker #arr></mat-datepicker>
    <mat-error *ngIf="!arrival_date_input">Please enter a valid date.</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" style="width: 20%; float: right">
    <mat-select placeholder="Class" [(ngModel)]="class_input" required>
      <mat-option value="Economy">Economy</mat-option>
      <mat-option value="Business">Business</mat-option>
      <mat-option value="First Class">First Class</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-error *ngIf="error === true" required>Please <strong>fill</strong> the form!*</mat-error>
  <button mat-flat-button color="primary" (click)="onFindFlight()">SEARCH FLIGHT</button>
</mat-card> 