
  <mat-card class="example-viewport">
    <mat-list multi="true" *ngIf="flights.length > 0">
      <mat-list-item><h3>Your Itinerary</h3></mat-list-item>
      <mat-list-item *ngFor="let flight of flights">
          <div mat-line>
            <mat-icon mat-list-icon>flight_takeoff</mat-icon>
            <b style="margin-left: 5px">{{ flight.departure }} - {{ flight.arrival }}</b>
            {{ flight.dep_time }}-{{ flight.arr_time }}
          </div>
          <p mat-line>
            {{ flight.dep_date }} - {{ flight.arr_date }}
          </p>
          <div style="margin-right: 10px">
            ${{ flight.price }}
          </div>
          <a mat-button (click)="onRemoveFromCart(flight.id)" routerLinkActive="mat-accent">
            <mat-icon>remove_shopping_cart</mat-icon>
          </a>
          <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item><div>Total: ${{totalCost}}</div></mat-list-item>
    </mat-list>
    <br>
    <a  *ngIf="flights.length > 0" mat-button routerLinkActive="mat-accent" style="float: right">
        Book Flights
    </a>
    <mat-list multi="true" *ngIf="flights.length === 0"><mat-list-item><h3>No flight</h3></mat-list-item></mat-list>
  </mat-card>